:host {
    display: flex;
    justify-content: center;
}


.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;

    @media (max-width: 600px) {
        height: 100vh;
        justify-content: center;

        &__form,
        &__title {
            width: 90%;
        }
    }

    &__actions {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 600px) {
            display: block;
        }
    }

    &__button {
        width: 140px;
    }

    &__error {
        color: var(--mat-sys-error);
        margin-bottom: 0px;
    }

     &__form {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 400px;
    }

    &__signup {
        font-size: 14px;
    }

    &__title {
        width: 100%;
        text-align: end;
    }
}

@media (max-width: 600px) {
  .login {
    height: 100vh;
    justify-content: center;

    &__form,
    &__title {
        width: 90%;
    }
  }
}