.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;

    &__button {
        width: max-content;
    }

    &__error {
        color: var(--mat-sys-error);
        margin-bottom: 0px;
    }

     &__form {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
    }
}