.flex {
    display: flex;
}

.justify {
    &-center {
        justify-content: center;
    }

    &-start {
        justify-content: flex-start;
    }
}

.gap {
    &-12 {
        gap: 12px;
    }

    &-24 {
        gap: 24px;
    }

    &-36 {
        gap: 36px;
    }
}

.wrap {
    flex-wrap: wrap;
}