.flex {
    display: flex;
}

.align {
    &-center {
        align-items: center;
    }

    &-start {
        align-items: flex-start;
    }

    &-end {
        align-items: flex-end;
    }
}

.dir {
    &-row {
        flex-direction: row;
    }

    &-column {
        flex-direction: column;
    }
}

.justify {
    &-center {
        justify-content: center;
    }

    &-start {
        justify-content: flex-start;
    }
}

.gap {
    &-12 {
        gap: 12px;
    }

    &-24 {
        gap: 24px;
    }

    &-36 {
        gap: 36px;
    }
}

.wrap {
    flex-wrap: wrap;
}