<div @sequencedFadeIn>
  <div class="peblob-draft__result">
    <ng-content></ng-content>
  </div>
  <div class="peblob-draft__event">
    <div class="t-center peblob-draft__message">
      <span>{{ 'peblobDraft.event' | translate }}</span>
      <br>
      <span>{{ 'peblobDraft.action' | translate }}</span>
    </div>
    <div class="flex justify-center gap-36 wrap my-36">
      @for (peblob of peblobDraft; track peblob) {
        <app-peblob
          [composed]="peblob"
          (click)="selectPeblob(peblob)"
          [class.selected]="peblob === selectedPeblob"
        ></app-peblob>
      }
    </div>
    <div class="flex justify-center">
      <button
        mat-stroked-button
        color="primary"
        (click)="confirmSelection()"
        [disabled]="!selectedPeblob"
      >
        {{ 'peblobDraft.button' | translate }}
      </button>
    </div>
  </div>
</div>