.sidenav-container {
  height: 100%;
}

.sidenav {
  padding:  0 20px;
  width: 300px;

  & .mat-mdc-list-item {
    margin: 10px 0;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav-content {
  background-color: var(--mat-sys-surface-container);

  & main {
    padding: 0 26px;
  }
}

.mat-toolbar {
  background: none;
  margin: 30px 0;

  @media (max-width: 600px) {
    margin: 10px 0 30px 0;
  }

  & h1 {
    font-size: 64px;
    margin: 0 auto;

    @media (max-width: 600px) {
      font-size: 36px;
    }
  }
}

.active-link {
    background: var(--mat-sys-on-primary);
}