<div class="rgb-values" [class.rgb-values--xs]="format === 'xs'" aria-label="Valeurs RGB">
  <div class="rgb-values__channel rgb-values__channel--red">
    <mat-icon aria-hidden="true">fiber_manual_record</mat-icon>{{ color.r }}
  </div>
  <div class="rgb-values__channel rgb-values__channel--green">
    <mat-icon aria-hidden="true">fiber_manual_record</mat-icon>{{ color.g }}
  </div>
  <div class="rgb-values__channel rgb-values__channel--blue">
    <mat-icon aria-hidden="true">fiber_manual_record</mat-icon>{{ color.b }}
  </div>
</div>
