<div class="grid">
  @if (user$ | async; as user) {
  <div class="user-info">
    <span>Bienvenue, {{ user.username }}</span>
  </div>
  <section class="home__container">
      @if (!user.drafted && isAdventureVisible) {
        <app-adventure></app-adventure>
      } @else {
        <app-full-card>
          <app-adventure-status
            [user]="user"
            [countdown]="countdown"
            (ctaClicked)="showAdventure()"
          ></app-adventure-status>
        </app-full-card>
      }
  </section>
  }
</div>
