<main class="signup">
  <h2 class="signup__title pixel-font">{{ 'auth.signup.title' | translate }}</h2>
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
    class="signup__form"
  >
    <app-basic-input
      label="{{ 'auth.form.username.label' | translate }}"
      [formControl]="signupForm.controls['username'] | toFormControl"
    ></app-basic-input>
    <app-basic-input
      label="{{ 'auth.form.mail.label' | translate }}"
      [formControl]="signupForm.controls['email'] | toFormControl"
    ></app-basic-input>
    <app-basic-input
      label="{{ 'auth.form.password.label' | translate }}"
      [formControl]="signupForm.controls['password'] | toFormControl"
      [isPassword]="true"
      [showErrors]="false"
    ></app-basic-input>
    <aside class="signup__checker">
      <p class="signup__checker-item" [ngClass]="getPasswordCheckerClass('minLength')">
        {{ 'auth.form.checkers.minLength' | translate }}
        <mat-icon class="signup__checker-icon">check_circle</mat-icon>
      </p>
      <p class="signup__checker-item" [ngClass]="getPasswordCheckerClass('specialChar')">
        {{ 'auth.form.checkers.specialChar' | translate }}
        <mat-icon class="signup__checker-icon">check_circle</mat-icon>
      </p>
      <p class="signup__checker-item" [ngClass]="getPasswordCheckerClass('digit')">
        {{ 'auth.form.checkers.digit' | translate }}
        <mat-icon class="signup__checker-icon">check_circle</mat-icon>
      </p>
      <p class="signup__checker-item" [ngClass]="getPasswordCheckerClass('uppercase')">
        {{ 'auth.form.checkers.uppercase' | translate }}
        <mat-icon class="signup__checker-icon">check_circle</mat-icon>
      </p>
    </aside>
    <app-basic-input
      label="{{ 'auth.form.passwordConfirmation.label' | translate }}"
      [formControl]="signupForm.controls['confirmPassword'] | toFormControl"
      [isPassword]="true"
    ></app-basic-input>
    <div class="signup__actions">
      <button
        mat-stroked-button
        type="submit"
        [disabled]="signupForm.invalid"
        class="signup__button"
        [appLoader]="loading"
      >
        {{ 'auth.signup.button' | translate }}
      </button>
      <p class="signup__login">{{ 'auth.signup.login' | translate }}<a routerLink="/login">{{ 'auth.signup.link' | translate }}</a>{{ 'auth.signup.end' | translate }}</p>
    </div>
  </form>
</main>