/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { 
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

a {
    color: var(--mat-sys-primary);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--mat-sys-inverse-primary)
    }
}

:root {
  --palette-morning-1: #ffb347;
  --palette-morning-2: #ffcc33;
  --palette-morning-3: #ffec99;
  --palette-morning-4: #f9f871;
  --palette-morning-5: #f7b32b;
  --palette-morning-6: #f76e11;
  --palette-morning-7: #f73859;
  --palette-morning-8: #a1ffce;

  --palette-noon-1: #264653;
  --palette-noon-2: #388e3c;
  --palette-noon-3: #43a047;
  --palette-noon-4: #f4b942;
  --palette-noon-5: #ffb300;
  --palette-noon-6: #ff7043;
  --palette-noon-7: #a15c1b;
  --palette-noon-8: #2a3a1c;

  --palette-evening-1: #f7971e;
  --palette-evening-2: #e09b3d;
  --palette-evening-3: #f6723a;
  --palette-evening-4: #3b5998;
  --palette-evening-5: #667eea;
  --palette-evening-6: #764ba2;
  --palette-evening-7: #8d4585;
  --palette-evening-8: #5f4b66;

  --palette-night-1: #35395c;
  --palette-night-2: #4a4e7d;
  --palette-night-3: #2e3a87;
  --palette-night-4: #355c7d;
  --palette-night-5: #5a4eb1;
  --palette-night-6: #3a5a8c;
  --palette-night-7: #4e4eb7;
  --palette-night-8: #6c4eb7;
}